@page "/signIn"
@inject DatabaseHandler DbHandler
@inject NavigationManager NavManager
@inject IIpTools iptools


@using System.Net
@using System.Net.Sockets
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Hosting

@using Visitor.Data
@using Visitor.Models
@using Visitor.Services
@using Visitor.Validators

<h3>Sign In</h3>

<div class="row m-5">
    <div class="col-5 bg-light m-2 justify-content-start">
        <div class="p-3 mb-3 bg-primary text-white text-center">Add New Visitor</div>
        <EditForm Model="@NewVisitor" OnValidSubmit="@AddNewVisitor">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" id="name" class="form-control" @bind-value="@NewVisitor.FirstName" />
                <ValidationMessage For="@(() => NewVisitor.FirstName)" />
            </div>
            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" id="name" class="form-control" @bind-value="@NewVisitor.LastName" />
                <ValidationMessage For="@(() => NewVisitor.LastName)" />
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" id="company" class="form-control" @bind="@NewVisitor.Company" />
                <ValidationMessage For="@(() => NewVisitor.Company)" />
            </div>
            <div class="form-group">
                <label for="name">Contact Number</label>
                <input type="text" id="contactnumber" class="form-control" @bind-value="@NewVisitor.ContactNumber" />
                <ValidationMessage For="@(() => NewVisitor.ContactNumber)" />
            </div>
            <div class="form-group">
                <label for="name">Reason</label>
                <input type="text" id="reason" class="form-control" @bind-value="@NewVisitor.Reason" />
                <ValidationMessage For="@(() => NewVisitor.Reason)" />
            </div>
            <div class="text-center p-3 mb-3">
                <button class="btn btn-info" type="submit"> Add Visitor</button>
            </div>
            
        </EditForm>
        @if (ErrorMessage != null && ErrorMessage.Length > 0) {
            <div class="alert alert-danger" role="alert">@ErrorMessage</div>
        }
    </div>
</div>

@code {
    public VisitorModel NewVisitor { get; set; } = new VisitorModel();

    public string ErrorMessage { get; set; }

    private async Task AddNewVisitor() {

        NewVisitor.Ip_Address = iptools.GetIP();

        bool result = await DbHandler.AddVisitor(NewVisitor);
        if (!result)
            ErrorMessage = "There was a problem with the database. Please try again in a minute and contact support if the error persists.";
        NavManager.NavigateTo("/signOut");
    }
}
